/* styles.css */

.skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .skills-list li {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 50%;
    width: calc(33.33% - 20px);
  }
  
  .skills-list li img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .skills-list li span {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 18px;
    color: #444
  }
  
  @media (max-width: 767px) {
    /* For mobile phones and small screens, display one column */
    .skills-list li {
      width: 100%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* For mid-range devices, display two columns */
    .skills-list li {
      width: calc(50% - 20px);
    }
  }
  

  